<style>
.hold-transition.login-page {
    background: overlay;
    background-color: #00000099;
    background-image: url(https://itdevelopmentservices.com/design_website/liveImg/img1.jpg);
    background-blend-mode: overlay;
}
.login-box {
    border: 2px solid #ffffff5e;
    margin-top: 50px;
    padding: 22px;
    border-radius: 25px;
    background: #ffffff38;
    /* opacity: 0.9; */
}
    .login-logo a {
        font-size: 22px;
        font-weight: 500;
        color: white !important;
    }
    .login-logo {
    margin-bottom: 7px !important;
    margin-top: 30px;
}
    p.login-box-msg {
        color: white;
        font-weight: 500;
        font-size: 17px;

    }

    .live-form .has-feedback ::placeholder {
        font-weight: 500;
    }
    .live-form button.btn.btn-primary.btn-block.btn-flat {
    font-weight: 500;
    padding: 7px 40px;
    background-color: #1371e3;
    border-radius: 26px;
    border: 2px solid #01b7ff;
}
button.btn.btn-primary.btn-block.btn-flat:hover {
    background: #01b7ff;
    /* border: 2px solid #1371e3; */
}
    .btn-admin-sub {
        margin: auto;
    }

    .logo-admin {
        height: 90px;
      
    }
    .logo-img{
        width: 100%;
        height: 100%;
    
    }
</style>
<div class="logo-admin">
    <img class="logo-img" src="https://itdevelopmentservices.com/design_website/liveImg/solo_logo_svg.png" alt=""></div>

{% extends "admin/base_login.html" %}
{% load i18n static %}

{% block content %}
{% if form.errors and not form.non_field_errors %}
<p class="alert alert-danger">
    {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}
    {% trans "Please correct the errors below." %}{% endif %}
</p>
{% endif %}

{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
<p class="alert alert-danger">
    {{ error }}
</p>
{% endfor %}
{% endif %}


<form action="{{ app_path }}" method="post" id="login-form" class="live-form">{% csrf_token %}
    <div class="form-group has-feedback">
        <input type="email" id="id_username" name="username" class="form-control" placeholder="Email">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
        {{ form.username.errors }}
    </div>
    <div class="form-group has-feedback">
        <input type="password" id="id_password" name="password" class="form-control" placeholder="Password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        {{ form.password.errors }}
        <input type="hidden" name="next" value="{{ next }}" />
    </div>
    {% url 'admin_password_reset' as password_reset_url %}
    {% if password_reset_url %}
    <div class="password-reset-link">
        <a href="{{ password_reset_url }}">{% trans 'Forgotten your password or username?' %}</a>
    </div>
    {% endif %}
    <div class="row">
        <!-- /.col -->
        <div class="col-xs-4 btn-admin-sub">
            <button type="submit" class="btn btn-primary btn-block btn-flat">{% trans 'Log In' %}</button>
        </div>
        <!-- /.col -->
    </div>
</form>


{% if user.is_authenticated %}
<p class="alert alert-danger">
    {% blocktrans trimmed %}
    You are authenticated as {{ username }}, but are not authorized to
    access this page. Would you like to login to a different account?
    {% endblocktrans %}
</p>
{% endif %}

{% endblock %}