{% load static %}

<!-- footer section start area-->

<!-- <section class="footer-section-area">
    <div class="container">

     <div class="row">
      <div class="col-lg-8 col-md-12 col-sm-12 col-8"> 
       <div class="comment-main-area">
        <img src="{% static 'images/comment-icon-2.png' %}" alt="comment" alt=""> 
       </div>
      </div> 
      <div class="col-lg-2 col-md-12 col-sm-12 col-2"> 
       <div class="like-view-area">
        <h5><i class="fa fa-heart" aria-hidden="true"></i> 15K</h5>
       </div>
      </div> 
      <div class="col-lg-2 col-md-12 col-sm-12 col-2"> 
       <div class="like-view-area">
        <h5><i class="fa fa-user" aria-hidden="true"></i>1.785<h5>
       </div>
      </div> 
    </div> 
   </div>
   </section> -->

<!-- footer section end area-->




<!------------------------------------
   Core Bootstrap Js Informations
   ----------------------------- -->
<!-- <script src="{% static 'js/main.js' %} "></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %} "></script> -->
<script src="{% static 'js/bootstrap.min.js' %} "></script>
<!-- <script src="{% static 'js/wow.min.js' %} "></script> -->

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/emojionearea/3.4.2/emojionearea.min.js" crossorigin="anonymous"
  referrerpolicy="no-referrer"></script>
</body> -->

</html>